---
layout:           home
---

<div class="index-content about">
    <div class="section">
        <ul class="artical-cate">
            <li><a href="/"><span>文章</span></a></li>
            <li style="text-align:center"><a href="/recommend"><span>推荐</span></a></li>
            <li class="on" style="text-align:right"><a href="/about"><span>关于</span></a></li>
        </ul>

        <div class="cate-bar"><span id="cateBar"></span></div>

        <div class="artical-list">
            {{ content }}
        </div>
    </div>
    <div class="aside">
    </div>
</div>
